
<!DOCTYPE HTML>
<html xmlns:th="http://www.thymleaf.org">

<head>
<meta charset="utf-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">

<!-- Bootstrap CSS -->
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
	integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk"
	crossorigin="anonymous">

<title>Contact us</title>

</head>
<body>
	<div class="container bg-dark text-white">
		<h3>Move The Mouse</h3>
		<hr color="white">
		<p class="h4 mb-4">Contact us</p>

		<form action="#">

			<input type="text" class="form-control mb-4 col-4"
				placeholder="Email"> <input type="text"
				class="form-control mb-4 col-4" placeholder="First Name"> <input
				type="text" class="form-control mb-4 col-4" placeholder="Last Name">
			<input type="text" class="form-control mb-4 col-4"
				placeholder="Subject">

			<textarea class="form-control mb-4 col-4" placeholder="Message"></textarea>

			<!-- <button type="submit" class="btn btn-info col-2">Send</button> -->
			<a th:href="@{sent}" class="btn btn-info col-2">
					Send </a>

		</form>
		<hr>
		<a th:href="@{/start}">Back</a>

	</div>

</body>
</html>